.navbar {
	background-color: rgb(122, 160, 208);
	border-radius: 0;
	
}

.navbar-default .navbar-brand, .navbar-default .navbar-brand a:hover {
	color: #000; 
}

.navbar-default .navbar-nav>li>a {
	color: #000; 
}

#main-content {
	background-color: rgb(122, 160, 208);
	height: 1000px;
}

#main-content p {
	background-color: rgb(122, 160, 208);
	padding-top: 5px;
	padding-left: 35px;
	padding-right: 35px;
}

h3 {
	padding-top: 20px;
	font-weight: bold;
}

#menu-list {
	text-transform: uppercase;
}

.divider {
  height: 1px;
  width:100%;
  display:block; 
  margin: 5px 0;
  overflow: hidden;
  background-color: #e5e5e5;
}